/* .main {
  background: url("../../resources/images/Bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 90vh;
}
.card {
  top: 50% !important;
} */
